
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style>
      /* Add your custom CSS styles here */
    </style>
  </head>
  <body>
    <p>Dear <%= @subscriber[:name] %>,</p>
    <p><%= @quote %></p>
    <p>Best regards,</p>
    <p>Your Insurance Broker</p>
  </body>
</html>
