
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style>
      /* Add your custom CSS styles here */
    </style>
  </head>
  <body>
    <h1>Thanks for subscribing!</h1>
    <p>Dear <%= @subscriber.name %>,</p>
    <p>Thank you for subscribing to our newsletter. We appreciate your interest in our services.</p>
    <p>Should you have any questions or need further assistance, please feel free to reach out to us.</p>
    <p>Best regards,</p>
    <p>Your Insurance Broker</p>
  </body>
</html>
